/* Reset CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
    color:white;
    font-family: monospace;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
    display: inline-block;
    width: 100%;
}

/* Header */

header{
    display:flex;
    height:70px;
    background-color:black;
    align-items: center;
    padding:5px;
    justify-content: space-between;
}

header h1{
    font-size:23px;
}

i{
    cursor:pointer;
}

/* Main */

main{
    display:flex;
    width:100%;
    height:530px;
    background-image: url('./img/lauzanne_img.jpg');
    background-size:cover;
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-position-x: center;  
}

/* Nav principale */

nav{
    position:relative;
    top:32px;
    width:80%;
    margin:0 auto;
    text-align:center;
    align-self:flex-end;
}

nav ul li{
    background-color: rgba(0, 0, 0, 0.85);
    margin:2px;
    font-size:20px;
}

nav ul li:hover{
    background-color:rgba(0, 0, 0, 0.6);
    color:black;
}

nav ul li a{
    padding: 30px 10px;
}

nav ul li a:hover{
    text-decoration:underline;
}

/* Réseaux sociaux */

.reseaux-sociaux{
    display:none;
    position:absolute;
    left:0;
    top:170px;
    width:200px;
    height:500px;
    background-color:#318cc1;
}

.reseaux-sociaux ul li{
    height:83px;
}

.reseaux-sociaux ul li a{
    
    padding: 30px 3px;
}

@media screen and (min-width:768px){

    main{
        height:465px;
    }

    nav{
        top:0;
    }

    nav ul{
        display: flex;
        justify-content: center;
    }

    nav ul li{
        width:33%;
    }
}

@media screen and (min-width: 992px){
    main{
        height:600px;
    }
}

@media screen and (min-width:1200px){
    main{
        background-position-y: -220px;
    }
    .reseaux-sociaux{
        display:flex;
    }
}

@media screen and (min-width:1600px){
    main{
        height:800px;
        background-position-y:-270px;
    }
}

@media screen and (min-width:1920px){
    main{
        background-position-y:-400px;
    }
}
