body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e0e0e0;
    color: #424242;
    font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
    font-size: 1em;
    line-height: 1.6;
}

header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding: 1.1em 0 .9em 1em;
    max-width:280px;
}

header nav {
    float: right;
    height: 100%;
    position: relative;
}

header nav ul {
    padding: 0;
    margin:0;
}

header nav li {
    display: inline;
    margin: 1px;
}

header nav a {
    box-sizing: border-box;
    display: inline-block;
    color: #37474f;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2.5;
    margin: 0;
    padding: 1.5em 1.5em;
}


header nav a:hover {
    background: #37474f;
    color: #fff;
}

.article-left{
    text-align: center;
}

.article-left img{
    width:100%;
    height:auto;
}

.titre-premier-article a{
    color:black;
    text-decoration:none;
}

.titre-article a{
    text-decoration: none;
    color: white;
}

@media screen and (min-width:960px){
    .container {
        width: 960px;
        margin: auto;
    }
    .img-article1{
        width:634px;
        height:544px;
    }
    .region-top {
        height: 544px;
        overflow: hidden;
    }

    .titre-premier-article a{
        color:white;
    }

    .region-top .article-left div{
        bottom:40px;
    }
}

@media screen and (min-width:480px){
    header nav li{
        margin: 0;
    }
}

@media screen and (min-width:768px){
    header{
        height: 88px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        max-width:200px;
        height:auto;
    }
    .region-top .article-left {
        float: left;
        width: 66%;
        position: relative;
        text-align:initial;
    }

    .region-top .article-left div {
        position: absolute;
        bottom: 20px;
        left: 40px;
        background-color: #ff7043;
        padding: 2em;
        width: 300px;
        color: white;
    }

    .img-article1{
        width: 100%;
        height: auto;
    }
    .region-top .article-right {
        width: 34%;
        background: green;
        float: right;
    }
    
    .region-top .article-right article {
        height: 272px;
        overflow: hidden;
    }
    
    .region-top .article-right article div {
        height: 104px;
        padding: 0 1em 0 1em;
        font-size: 0.9em;
    }
    
    .region-top .article-right article img {
        width: 326px;
    }
}

.region-top .article-right article h1 {
    color: white;
    font-size: 0.9em;
    margin: 0;
}

.region-top .article-right article:nth-child(1) {
    background-color: #c62828;
}

.region-top .article-right article:nth-child(2) {
    background-color: #5c6bc0;
}

.region-top a{
    color:white;
    text-decoration:none;
}

ul.tags {
    margin: 0;
    padding: 0;
}

ul.tags li {
    list-style: none;
}

ul.tags li a {
    font-size: 0.9em;
}

/*

#region-main {
    clear: both;
    margin-top: 2em;
    float: left;
    width: 66%;
}

#region-main article {
    height: 120px;
    overflow: hidden;
    margin-bottom: 2em;
}

#region-main article img {
    float: left;
    margin-right: 30px;
    width: 200px;
}

#region-main article h1 {
    margin: 0;
}

#region-main article p {
    margin: 0;
}

#region-main article .tags a {
    text-decoration: none;
    color: #1875d1;
}

#region-sidebar {
    float: right;
    width: 34%;
    background-color: #f5f5f5;
    padding: 2em;
    box-sizing: border-box;
    height: 490px;
    color: #666;
}

#region-sidebar h1 {
    font-size: 1em;
}

#region-sidebar label {
    width: 100px;
    display: inline-block;
}

#region-sidebar input[type=submit] {
    background-color: #5677fc;
    border-radius: 2px;
    font-weight: 500;
    padding: .45em .938em .5em;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: white;
    margin: 1em auto 0 auto;
    display: block;
    font-size: 0.9em;
}

footer {
    clear: both;
    background-color: black;
    height: 50px;
}*/